body, html{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    font-weight: 400;
    background-color:black;
}

#root{
    width: 100%;
    background-color: black;
}

.center{
    width: 90%;
    height: 100%;
    margin: 0 5% 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.backgroundBox{
    background-image: url(img/fondo01.jpg);
    height: 640px;
}
/*** Inicio y registro ***/

.logo{
    width: 200px;
    margin: 10px 0 80px 0;
}

#btnRegistry, #btnLogin, #btnRegistryOk, #btnLoginOk, #btnAll, #btnGoogle{
    width: 60%;
    height: 30px;
    margin: 20px 20% 0 20%;
    padding: 5px;
    font-size: 12px;
    font-weight: 600;
    border: none;
    border-radius: 20px;
    color: white;
    background-image: linear-gradient(to right, #f5c42e, #f2a221, #ea8020, #de5d25, #cd382c);
}

#btnGoogle{
    background-image:none;
    background-color: white;
    padding:0;
    color: #de5d25;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#btnGoogle img{
    width: 20px;
    height: 20px;
    margin-right: 15px;
}

input{
    width: 70%;
    height: 20px;
    margin: 15px 0 0 0;
    padding: 5px 10px;
    border: 1px solid #F3B700;
    border-radius: 20px;
    color: black;
    font-size: 10px;
}

/*** Modal de registro ***/
.modalContainer, .modalMenuContainer, .modalContainerDelete{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

.modalInfo, .modalInfoDelete{
    width: 65%;
    height: 200px;
    margin: 50% 10%;
    padding: 30px;
    border-radius: 20px;
    background-image: linear-gradient(to right, #f5c42e, #f2a221, #ea8020, #de5d25, #cd382c);
    text-align: center;
    position: fixed;
    z-index: 1;
    overflow: visible;
}
.logoModal{
    width: 100px;
    margin: 0;
}

.modalInfo h1, .modalInfoDelete h1{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: white;
    margin: 20px 0 10px 0;
}

.modalInfo p{
    font-family: sans-serif;
    font-size: 14px;
    color: white;
    margin: 0;
    font-weight: bold;
}

.closeModal{
    color: white;
    float: right;
    margin: 20px 20px 0 0;
    font-size: 30px;
    font-weight: lighter;
}

/*** Modal Menú ***/
.imgMenu, .imgArrow{
    width: 30px;
}
.imgUser{
    margin: 60px 0 20px 0;
}

#btnMenu, #btnBackModal, #btnBackMain, #btnBackLocal, #btnBackInitial{
    width: 40px;
    height: 40px;
    top: 25px;
	left: 30px;
    position: fixed;
    display: flex;
    flex-direction: column;
	align-items: center;
	justify-content: center;
    background-image: linear-gradient(to right, #f5c42e, #f2a221, #ea8020, #de5d25, #cd382c);
    border: none;
	border-radius: 50%;
	cursor: pointer;
}

#btnBackModal, #btnBackMain, #btnBackLocal, #btnBackInitial{
    background: none;
}

.modalMenuInfo{
    width: 70%;
    height: 100%;
    margin: 0;
    padding: 30px 0;
    background-image: linear-gradient(to right bottom, #f5c42e, #f2a221, #ea8020, #de5d25, #cd382c);
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btnClose, #btnFavorites{
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0;
    background:none;
    border: none;
    color: white;
    font-family: sans-serif;
    font-size: 12px;
}

h4{
    margin: 0 0 50px 0;
    color:white;
    font-family: sans-serif;
    font-size: 20px;
}

/*** Pagina inicial ***/

.titleCarousel{
    width: 90%;
    height: 20px;
    padding: 0 5%;
    display: flex;
    align-content: center;
    margin-bottom: 5px;
}

h2{
    color: white;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 300;
}

.containerCarousel{
    width: 90%;
    height: auto;
    margin: 0;
    padding: 80px 5% 0 5%;
}

.carousel{
    width: 85%;
    height: 120px;
    padding: 10px 5%;
    display: flex;
    flex-direction: nowrap;
    overflow-x: auto;
}

.localCarousel {
    width: 120px;
    height: 120px;
    margin-right: 5%;
    position: relative;
}

.btnLocal{
    width: 120px;
    height: 120px;
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    background: none;
    color: white;
    font-family: sans-serif;
    font-size: 10px;
    font-weight: 100;
    text-decoration: none;
}

.localCarousel img{
    height: 100%;
    border-radius: 15px;
}

.localCarousel h3{
    width: 90%;
    padding: 0 10%;
    position: absolute;
    bottom:0;
}

/*** All ***/
.titleCarouselAll, .titleLocalList{
    width: 90%;
    height: 20px;
    padding: 0 5%;
    display: flex;
    align-content: center;
}
.titleLocalList{
    margin-bottom: 10px;
}

.titleCarouselAll h2, .titleLocalList h2{
    color: white;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 300;
}

.containerCarouselAll, .containerlocalList {
    width: 90%;
    height: auto;
    margin: 0;
    padding: 60px 5% 0 5%;
}

.carouselAll{
    width: 90%;
    height: 80px;
    display: flex;
    flex-direction: nowrap;
    overflow-x: auto;
    padding: 10px 5%;
}

.localCarouselAll {
    width: 20%;
    margin-right: 6%;
    text-align: center;
}

.localCarouselAll img{
    height: 75%;
    border-radius: 15px;
}

.localCarouselAll h3{
    color: white;
    font-family: sans-serif;
    font-size: 10px;
    font-weight: 100;
    margin: 0;
}

.containerlocalList{
    padding: 10px 5%;
}

.localBox{
    width: 90%;
    height: 120px;
    margin: 10px 0;
    padding: 0 5%;
    position: relative;
}

.localBox img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.localName{
    width: 90%;
    height: 35px;
    padding: 0 5%;
    background-color: black;
    opacity: 0.8;
    position: absolute;
    bottom:0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.localName h3{
    color: white;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 100;
}

/* Info Local */
.imgLocalInfo{
    width: 100%;
    height: 200px;
}

.imgLocalInfo img{
    width: 100%;
    height: 100%;
}

.containerButtons{
    width: 90%;
    height: 30px;
    margin: 0 5%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.comments, .information{
    width: 45%;
    color: white;
    font-size: 12px;
    font-weight: 200;
    background: none;
    border: none;
    cursor: pointer;
}

.centerBtn{
    width: 100%;
    height: 50px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    overflow-x: auto;
    background-color: black;
}

.btnComment{
    width: 50px;
    height: 50px;
    background-image: linear-gradient(to right, #f5c42e, #f2a221, #ea8020, #de5d25, #cd382c);
    border: none;
	border-radius: 50%;
    cursor: pointer;
    color: white;
    font-size: 30px;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
    z-index: 1;
}

/* Post Hechos */
.containerPost{
    width: 90%;
    height: auto;
    padding: 10px 5%;
    display: flex;
    flex-direction: nowrap;
    overflow-y: auto;
}

.publicationsInfo{
    width: 100%;
    height: 300px;
    padding: 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-content: center;
}

.publicationsPost{
    width: 90%;
    margin-top: 80px;
    padding: 0 5%;
}

.postear{
    width: 90%;
    margin: 0;
    padding: 5px 15px;
    color: white;
    font-family: sans-serif;
    font-size: 11px;
    font-weight: 100;
}

.btnEdit, .btnDelete{
    color: #f5c42e;
    border: none;
    background: none;
    font-size: 8px;
    font-weight: 100;
    padding: 0;
    margin-right: 8px;
}

/* POST */
.post{
    width: 90%;
    padding: 10px 5% 20px 5%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post textarea{
    width: 70%;
    height: 30px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
}

.send{
    width: 40px;
    height: 40px;
    color: white;
    border: none;
    border-radius: 50%;
    background-image: linear-gradient(to right, #f5c42e, #f2a221, #ea8020, #de5d25, #cd382c);
    font-size: 15px;
    font-weight: 200;
}

.likeBox{
    width: 35px;
    height: 60px;
    margin-top: -30px;
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.btnLike{
    width: 25px;
    height: 25px;
    margin-bottom: 5px;
    border: none;
    background: none;
    float: right;
    display: flex;
    justify-content: center;
}

.btnLike img{
    height: 25px;
}

.counter{
    font-size: 10px;
    font-weight: 200;
    float: right;
    background: -webkit-linear-gradient(left top, yellow, red);
    background: linear-gradient(to bottom right, yellow,  red);
    -webkit-text-fill-color: transparent;
}

.alertPost{
    width: 80%;
    height: 30px;
    margin:0 5% 0 5%;
    padding: 10px;
    color:white;
    font-family: sans-serif;
    font-size: 10px;
    font-weight: 200;
    text-align: center;
    justify-content: center;
    position: fixed;
    bottom: 100px;
}
.btnYes, .btnNo{
    width: 60px;
    height: 30px;
    margin:50px 20px 0 20px;
    border: none;
    border-radius: 20px;
    background: white;
    color: #de5d25;
}
